body{
    background-color: rgb(218, 243, 248);
}
hr{
    border-style: dotted none none;
    width: 5% ;
    border-color: grey;
    border-width: 7px;
}
h1{
    color: #551840;
}
h3{
    color: rgb(86, 21, 172);
}